.footer{
    background-color: #000000;
    height: 100px;
    width: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center
}

.footer p{
    margin: 0;
    text-align: center;
    color: #ffffff;
}